<li class="account">
    <a href="#">
        My Account
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="account_selection">
        <li><a asp-route="Login"><i class="fa fa-sign-in" aria-hidden="true"></i>@T("Customer.Login")</a></li>
        <li><a asp-route="Register"><i class="fa fa-user-plus" aria-hidden="true"></i>@T("Customer.Register")</a></li>
    </ul>
</li>