<!-- Header -->
<header class="header trans_300">
    <!-- Top Navigation -->
    <div class="top_nav">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="top_nav_left">free shipping on all u.s orders over $50</div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="top_nav_right">
                        <ul class="top_nav_menu">
                            <!-- Currency / Language / My Account -->
                            @await Component.InvokeAsync("CurrencySelection")
                            @await Component.InvokeAsync("LanguageSelection")
                            @await Component.InvokeAsync("AccountNavigation")
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("TopMenu")
</header>