<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>microCommerce.Web</title>
</head>
<body>
    @await Component.InvokeAsync("Header")
    @await Component.InvokeAsync("TopMenu")
    @RenderBody()
    @await Component.InvokeAsync("Footer")
</body>
</html>